<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31197046529-6soiib2m30k28dh9nssagvtk45pla119.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31197046529-6soiib2m30k28dh9nssagvtk45pla119</string>
	<key>API_KEY</key>
	<string>AIzaSyD2m5qpWceJdHiMj1_sk9MrJK3Qeq39LIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>31197046529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thinKit</string>
	<key>PROJECT_ID</key>
	<string>thin-kit</string>
	<key>STORAGE_BUCKET</key>
	<string>thin-kit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31197046529:ios:0e11d5c9f8c0efb2a41d00</string>
</dict>
</plist>